<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:name=".LumenApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.LumenVpn">
        <property
            android:name="android.window.PROPERTY_COMPAT_ALLOW_RESTRICTED_RESIZABILITY"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="lumen" android:host="import" />
                <data android:scheme="lumen" android:host="sub" />
                <data android:scheme="lumen" android:host="subscription" />
                <data android:scheme="lumen" android:host="s" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="hiddify" />
                <data android:scheme="v2ray" />
                <data android:scheme="v2rayn" />
                <data android:scheme="v2rayng" />
                <data android:scheme="clash" />
                <data android:scheme="clashmeta" />
                <data android:scheme="mihomo" />
                <data android:scheme="stash" />
                <data android:scheme="sing-box" />
                <data android:scheme="nekobox" />
                <data android:scheme="nekoray" />
                <data android:scheme="karing" />
                <data android:scheme="happ" />
                <data android:scheme="vpn" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mless" />
                <data android:scheme="vless" />
                <data android:scheme="vmess" />
                <data android:scheme="trojan" />
                <data android:scheme="ss" />
                <data android:scheme="socks" />
                <data android:scheme="socks4" />
                <data android:scheme="socks4a" />
                <data android:scheme="socks5" />
                <data android:scheme="hysteria" />
                <data android:scheme="hysteria2" />
                <data android:scheme="hy2" />
                <data android:scheme="tuic" />
                <data android:scheme="naive" />
                <data android:scheme="naiveproxy" />
                <data android:scheme="wireguard" />
                <data android:scheme="ikev2" />
                <data android:scheme="ipsec" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="cabinet.lumentech.tel" android:pathPrefix="/app/import" />
                <data android:scheme="https" android:host="cabinet.lumentech.tel" android:pathPrefix="/vpn/import" />
                <data android:scheme="https" android:host="cabinet.lumentech.tel" android:pathPrefix="/import" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".vpn.LumenVpnService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <meta-data
                android:name="android.net.VpnService.SUPPORTS_ALWAYS_ON"
                android:value="true" />
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn_tunnel" />
        </service>

        <service
            android:name=".vpn.LumenVpnOpenVpnProbeService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":ovpn_probe">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn_tunnel_probe" />
        </service>

        <service
            android:name=".vpn.LumenVpnBoxProbeService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":box_probe">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn_tunnel_probe" />
        </service>

        <service
            android:name=".vpn.LumenVpnAwgProbeService"
            android:exported="false"
            android:foregroundServiceType="specialUse"
            android:permission="android.permission.BIND_VPN_SERVICE"
            android:process=":awg_probe">
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="vpn_tunnel_probe" />
        </service>

        <service
            android:name="org.amnezia.awg.backend.AbstractBackend$VpnService"
            tools:node="remove" />
    </application>
</manifest>
